{% extends "layouts/form.html" %}
{% block pagewrapper %}
		<!-- Exportable Table -->
		<div class="row clearfix"> 
			
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"> 
				<div class="card"> 
					<div class="header"> 
						<h2> View Product Officer  </h2>
					 </div>
				<div>

				<div class="body"> 
					<div class="row form-group"> 
						<div class="col-sm-6">  
							<label class="col-sm-4"> SP Name </label>
							<span> {{providers.name}}<span>
						 </div>
						<div class="col-sm-6">  
							<label class="col-sm-4"> Email </label>
								<span> {{providers.email}}<span>
						 </div>
					 </div>
				 </div>

			 </div>
		 </div>
	 </div>
{% endblock %}
