{% extends "layouts/form.html" %} {% block pagewrapper %}
	<!-- Exportable Table -->
		<div class="row clearfix">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<div class="card">
					<div class="header">
						<h2> Edit Pages </h2>
					</div>
					<div class="body">
						<form id="form_validation" method="POST" novalidate="novalidate">
							
							<div class="form-group form-float">
									<label class="form-label  required">Title  (English) </label>
								<div class="form-line">
									<input class="form-control" name="title" value="{{page.title}}" type="text" required>
								</div>
							</div>

							<div class="form-group form-float">
									<label class="form-label  required">Title (Arabic) </label>
								<div class="form-line">
									<input class="form-control" name="title" value="{{page.title_ar}}" type="text" required>
								</div>
							</div>

							<div class="row clearfix">
								<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
									<div class="card">
										<div class="header">
											<h2>BODY (English)  </h2>
										</div>
										<div class="body">
											<textarea name="body" class="ckeditor" required>{{page.body}}</textarea>
										</div>
									</div>
								</div>
							</div>

							<div class="row clearfix">
								<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
									<div class="card">
										<div class="header">
											<h2>BODY (Arabic)</h2>
										</div>
										<div class="body">
											<textarea name="body_ar" class="ckeditor" required>{{page.body_ar}}</textarea>
										</div>
									</div>
								</div>
							</div>

							<button class="btn btn-primary waves-effect" type="submit">SUBMIT</button>
							<a href="/admin/pages" class="btn btn-primary waves-effect">BACK</a>
						</form>
					</div>
				</div>
			</div>
		</div>
	{% endblock %}
