{% extends "layouts/form.html" %}
{% block pagewrapper %}
		<!-- Exportable Table -->
		<div class="row clearfix">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<div class="card">
					<div class="header">
						<h2> Add Issuer </h2>
					</div>
					<div class="body">
						<form id="form_validation"  method="POST" novalidate="novalidate" enctype="multipart/form-data">
							<!-- <div class="form-group form-float">
								<div class="form-line">
										<input class="form-control" name="name" type="text" required>
										<label class="form-label">Name</label>
								</div>
								</div>-->
							<div class="form-group form-float">
									<label class="form-label required">Issuer Name</label>
								<div class="form-line">
									<input class="form-control"  required name="bankname" type="text">
							</div>
						</div>
							<div class="form-group form-float">
									<label class="form-label required">Issuer Name (Arabic)</label>
								<div class="form-line">
									<input class="form-control"  required name="bankname_ar" type="text">
							</div>
						</div>

						 <div class="form-group form-float">
									<label class="form-label required">
										Card Issuer Logo  (size: 1024×640 px)
								</label>
									<input name="banklogo" type="file" required >
							</div>

							<div class="form-group form-float">
								<label class="form-label required">Web Site</label>
								<div class="form-line">
									<input class="form-control" name="website" required type="url" required>

								</div>
							</div>
							<div class="form-group form-float">
								<label class="form-label required">Toll Free</label>
								<div class="form-line">
									<input class="form-control" name="tollfree" required  type="text">
								</div>
							</div>
							<button class="btn btn-primary waves-effect" type="submit">SUBMIT</button>
							<a href="/admin/banks" class="btn btn-primary waves-effect">BACK</a>
						</form>
					</div>
				</div>
			</div>
		</div>
	<script>
	$(document).ready(function () {
		var _URL = window.URL || window.webkitURL;
		function isGoodImage(file) {
			console.log(`here`);
		var deferred = jQuery.Deferred();
		var image = new Image();
		
		image.onload = function() {
				// Check the image resolution
				if(this.width >= 1024 && this.height >= 640 && this.width/this.height === 1.6) 
						deferred.resolve(true);
				 else 
						deferred.resolve(false);
		};
		
		image.onerror = function() {
				deferred.resolve(false);
		}
		image.src = _URL.createObjectURL(file);
		
		return deferred.promise();
}
	$('input[type=file]').change(function () {
		var self = this
		var val = $(this).val().toLowerCase();
		var regex = new RegExp("(.*?)\.(png|jpg|jpeg)$");

		isGoodImage(this.files[0]).
		then(function(isGood) {
			if(!(regex.test(val))) {
				$(self).val('');
				alert("Please select correct file format")
			}
			else if(!isGood) {
				$(self).val('');
				alert("Please select correct file size")
			}
			else{
				$(self).parent().find('label.error').remove()
			}
		})
		
		});
	});
</script>

{% endblock %}
