{% extends "layouts/list.html" %} {% block pagewrapper %}
<section class="content">
	<div class="container-fluid">
		<!--  <a href="/pages/add" class="btn btn-success" role="button">Add</a>-->
		<!-- Exportable Table -->
		<div class="row clearfix">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<div class="card">
					<div class="header">
						<h2> TestApp: Outlets From Google </h2>

						<form method="post">
							<input type="hidden" name="data" id="add_selected_data" value="">
							<button style="margin: -10px; float:right;" type="button" id="add_selected" class="btn btn-success waves-effect">Add Selected </button>
						</form>
					</div>
					<div class="body">
						<div class="table-responsive">
							<table id="datalist" class="dataTable table table-bordered table-striped table-hover dataTable js-basic-example">
								<thead>
									<tr>
										<th> </th>
										<th>S.no</th>
										<th>Name</th>
										<th>Address</th>
										<th>Logo</th>
										<!-- <th>View On Map</th> -->
										<!-- <th>Action</th> -->
									</tr>
								</thead>
								<tbody>
									{% for outlet in outlets %}
									<tr data-val="{{outlet | dump}}">
										<td> </td>
										<td>{{ loop.index }}</td>
										<td>{{ outlet.name }}</td>
										<td>{{ outlet.address }}</td>
										<td><img src="{{ outlet.logo }}" width="80"></td>
										<!-- <td><a href="{{outlet.logo}}" > View </a></td> -->
									</tr>
									
									{% endfor %}
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- #END# Exportable Table -->
	</div>
</section>
<!-- <script type="text/javascript">
	$('#datalist').dataTable( {
    "paging": false
});
</script> -->
{% endblock %}
