{% extends "layouts/default.html" %}
{% block pagewrapper %}
<section class="content">
	<div class="container-fluid">
		<div class="block-header">
			<h2>DASHBOARD</h2>
		</div>
		<!-- Widgets -->
		<div class="row clearfix">
			{% 	if not user.bank %}
			<div class="col-lg- 4 col-md-4 col-sm-6 col-xs-12">
				<div class="info-box bg-{{theme}} hover-expand-effect">
					<div class="icon">
						<i class="material-icons">person</i>
					</div>
					<div class="content">
						<div class="text">Total Users</div>
						<div class="number" data-fresh-interval="20">{{usercount}}</div>
					</div>
				</div>
			</div>
			{% endif %}

			<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
				<div class="info-box bg-{{theme}} hover-expand-effect">
					<div class="icon">
						<i class="material-icons">playlist_add_check</i>
					</div>
					<div class="content">
						<div class="text">Total Banks</div>
						<div class="number" data-fresh-interval="20">{{bankcount}}</div>
					</div>
				</div>
			</div>
				<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
				<div class="info-box bg-{{theme}} hover-expand-effect">
					<div class="icon">
						<i class="material-icons">playlist_add_check</i>
					</div>
					<div class="content">
						<div class="text">Total Branch</div>
						<div class="number" data-fresh-interval="20">{{branchcount}}</div>
					</div>
				</div>
			</div>

			<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
				<div class="info-box bg-{{theme}} hover-expand-effect">
					<div class="icon">
						<i class="material-icons">playlist_add_check</i>
					</div>
					<div class="content">
						<div class="text">Total Cards</div>
						<div class="number" data-fresh-interval="20">{{cardcount}}</div>
					</div>
				</div>
			</div>

		<!-- 	<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
				<div class="info-box bg-{{theme}} hover-expand-effect">
					<div class="icon">
						<i class="material-icons">playlist_add_check</i>
					</div>
					<div class="content">
						<div class="text">Pending Cards</div>
						<div class="number" data-fresh-interval="20">4</div>
					</div>
				</div>
			</div>

			<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
				<div class="info-box bg-{{theme}} hover-expand-effect">
					<div class="icon">
						<i class="material-icons">playlist_add_check</i>
					</div>
					<div class="content">
						<div class="text">Process Cards</div>
						<div class="number" data-fresh-interval="20">4</div>
					</div>
				</div>
			</div>

				<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
					<div class="info-box bg-{{theme}} hover-expand-effect">
						<div class="icon">
							<i class="material-icons">playlist_add_check</i>
						</div>
						<div class="content">
							<div class="text">Complete Cards</div>
							<div class="number" data-fresh-interval="20">4</div>
						</div>
					</div>
				</div> -->

</section>
{% endblock %}