{% extends "layouts/list.html" %} {% block pagewrapper %}
<section class="content">
	<div class="container-fluid">
		<!--  <a href="/pages/add" class="btn btn-success" role="button">Add</a>-->
		<!-- Exportable Table -->
		<div class="row clearfix">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<div class="card">
					<div class="header">
						<h2>TestApp: All Product Officers   </h2>
						<a style="float: right" model-name="user"  class="btn btn-danger waves-effect ajax_deleteAll"> Delete selected</a>
						<a style="float: right" model-name="user"  model-status="1"  class="btn btn-success waves-effect ajax_chnageStatusAll"> Activate selected</a>
						<a style="float: right" model-name="user"  model-status="0"  class="btn btn-warning waves-effect ajax_chnageStatusAll"> Deactivate selected</a>
					</div>
					<div class="body">
						<div class="table-responsive">
							<table id="datalist" class="table table-bordered table-striped table-hover dataTable js-basic-example">
								<thead>
									<tr>
										<th> </th>
										<th>S.no</th>
										<th>SP Name</th>
										<th>Email</th>
										<th> Bank Name </th>
										<!-- <th>Card Type</th> -->
										<th  data-sortable="false">Status</th>
										<th  data-sortable="false">Action</th>
									</tr>
								</thead>
								<tbody>
									{% for provider in providers %}
									<tr id="del_{{provider.id}}">
										<td></td>
										<td>{{ loop.index }}</td>
										<td>{{ provider.name }}</td>
										<td>{{ provider.email }}</td>
										<td>{{ provider.bank.bankname }}</td>
										<!-- <td>{{ provider.card_type }}</td> -->
										<td data-sort="{{provider.status}}">
											{% if provider.status==1 %}
											<div class="switch">
												<label class="provider_stat">
												<input checked="checked" type="checkbox" data-id="{{provider.id}}">
												<span class="lever switch-col-{{theme}}"></span></label>
											</div>
											{% else %}
											<div class="switch">
												<label class="provider_stat">
												<input type="checkbox" data-id="{{provider.id}}">
												<span class="lever switch-col-{{theme}}"></span></label>
											</div>
											{% endif %}
										</td>
										<td>
											<a href="/admin/providers/view/{{provider.id}}"><i class="material-icons col-{{theme}}">folder_open</i></a>
											<a href="/admin/providers/edit/{{provider.id}}" name="edit" value="edit"><i class="material-icons col-{{theme}}">edit</i></a>
												<a model-name="user" data-value="{{provider.id}}" class="ajax_delete"><i class="material-icons col-{{theme}}">delete</i></a>
										</td>
									</tr>
									
									{% endfor %}
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- #END# Exportable Table -->
	</div>
</section>
{% endblock %}
